@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
	margin: 0;
}

html {
	margin: 0;
}

.topNav {
	background-color: rgb(102, 153, 153, 0.5);
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
	width: 100%;
	margin: 0;
}

.topNav a{
	float: left;
	font-size: 25px;
	color: #f0f5f5;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
}

.topNav a:hover {
	color: #ffffff;
}

.topNav a.active {
	font-weight: bold;
}

.introduction {
	font-family: 'Oswald', sans-serif;
	margin-left: 100px;
	left: 10%;
	-webkit-column-count: 3;
	column-count: 3;
}

.parallax {
	background-image: url(firstRender2.png);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

.caption {
	font-family: 'Oswald', sans-serif;
	position: relative;
	left: 5%;
	top: 25%;
	width: 100%;
	text-align: left;
	color: ffffff;
}

.caption span.border {
	font-size: 36px;
}

.grid-container {
	display: grid;
	font-family: 'Oswald', sans-serif;
	grid: 150px / auto auto;
	grid-gap: 25px;
	padding-left: 15%;
	padding-top: 10%;
	overflow-x: hidden;
}

.subgrid-container {
	display: grid;
	font-family: 'Oswald', sans-serif;
	grid: 150px / auto auto auto auto;
	grid-gap: 10px;
	overflow-x: hidden;
	font-size: 16px;
}

.grid-container > div {
	width: 90%;
}

.subgrid-container > div {
	width: 90%;
}

.item1 {
	text-align: left;
}

.item2 {
	text-align: left;
	font-size: 14px;
}

.fa {
	font-size: 20px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 3px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-linkedin {
	color: white;
}

.fa-github {
	color: white;
}

.fa-google {
	color: white;
}




















